<div class="welcome-section">
  <div class="banner white-see-through">
    <h1 id="banner-text">I use {{skill.name_tuple[0]}}{{skill.name_tuple[1]}}</h1>
    <img class="banner-image" width="50" height="50" [src]="skill.language_logo_tuple[0]" [alt]="skill.language_logo_tuple[1]"/>
  </div>

  <div id="skills-slide" class="framework-section">
      <mat-card class="sliding-card white-see-through" *ngFor="let logo_tuple of skill.framework_logo_tuples">
        <img class="std-img" mat-card-image [src]=logo_tuple[0] [alt]=logo_tuple[1] />
      </mat-card>
    </div>

  <div class="scroller framework-section white-see-through">
    <div class="scroll-track">
      <div class="scroll-item" *ngFor="let s_skill of secondary_skill_tuples">
        <img   class="std-img"
        [src]=s_skill[0] [alt]=s_skill[1] />
      </div>
      <div class="scroll-item" *ngFor="let s_skill of secondary_skill_tuples">
        <img   class="std-img"
        [src]=s_skill[0] [alt]=s_skill[1] />
      </div>
      <div class="scroll-item" *ngFor="let s_skill of secondary_skill_tuples">
        <img   class="std-img"
        [src]=s_skill[0] [alt]=s_skill[1] />
      </div>
    </div>
  </div>
</div>