
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-fe-primary-light: mat.define-palette(mat.$deep-purple-palette,300,100,400);
$portfolio-fe-accent-light: mat.define-palette(mat.$green-palette,A200,A100,A400);

$portfolio-fe-primary-dark: mat.define-palette(mat.$deep-purple-palette,600,400,700);
$portfolio-fe-accent-dark: mat.define-palette(mat.$green-palette,A400,A200,A700);
// The warn palette is optional (defaults to red).
$portfolio-fe-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-fe-theme-light: mat.define-light-theme((
  color: (
    primary: $portfolio-fe-primary-light,
    accent: $portfolio-fe-accent-light,
    warn: $portfolio-fe-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

$portfolio-fe-theme-dark: mat.define-dark-theme((
  color: (
    primary: $portfolio-fe-primary-dark,
    accent: $portfolio-fe-accent-dark
  )
));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($portfolio-fe-theme-light);

@media(prefers-color-scheme:dark){
@include mat.core-color($portfolio-fe-theme-dark)
}

html, body { height: 100%; }
body { margin: 0; font-family: 'PT Sans', "Helvetica Neue", sans-serif; }
